<button type="button" class="btn btn-primary waves-effect waves-light mt-1">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span class="m-l-10">Thêm mới</span>
</button>
<button type="button" class="btn btn-primary waves-effect waves-light mt-1">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span class="m-l-10">Thêm mới</span>
</button>
<button type="button" class="btn btn-primary waves-effect waves-light mt-1">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span class="m-l-10">Thêm mới</span>
</button>