:root{

}

*{

}


*html{

}

/*Common*/
.text-center{
    text-align: center;
}

.float-right{
    float: right;
}

.w-100{
    width: 100% !important;
}

.mt-1{
    margin-top: 1%;
}

.mt-2{
    margin-top: 2%;
}

.ml-1{
    margin-left: 2%;
}


/*f-main*/
.f-main .f-image{
    height: 80px;
    border: 10%;
}

.h-f-17:hover{
    font-size: 17px;
}

.cp{
    cursor: pointer;
}

.f-btn-confirm{
    height: 32px;
    border-radius: 10px 10px 10px 10px;
}

.f-filter .dropdown-menu {
    left: -129px;
}

.f-show .f-image{
    width: 100%;
    height: 200px;
}

.f-show .el-dialog {
    width: 70%;
}

.hide{
    display: none;
}

.presently{
    display: inline;
}

.f-create .el-dialog {
    width: 70%;
    margin-top: 2vh !important;
}

.f-create .el-form--label-top .el-form-item__label {
    padding: 0 0 1px;
}

.f-create .el-form-item {
    margin-bottom: 5px;
}

.f-create .f-image {
    width: 300px;
    height: 200px;
    text-align: center;
}

.f-create .el-button--mini, .el-button--mini.is-round {
    margin: 0px 4px;
}